@media (max-width:1028px){
    #title{
        text-align: center;
        padding-bottom: 10%;
    }
    .phone{
        position: static;
        transform: rotate(0);
        padding-top: 10%;
    }
}